{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "esmodules": true,
          "node": "current"
        }

      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}
